a {
    text-decoration: none;
    line-height: 40px;
}

tr > td:first-child {
    padding-left: 30px;
    text-align: right;
}

tr {
    line-height: 30px;
}

body {
    /*background-color: #DFFFEF;*/
    background: url("/usermgr/bGImageAction");
}

table {
    /*display: block;*/
    margin: auto;
}

.ac {
    width: auto;
    margin: auto;
    text-align: center;
}